/** version: 1.0 */

* {
  margin: 0px;
  padding: 0px;
  border: solid 0px red;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  vertical-align: middle;
}

h1 {
  margin-top: 40px;
  font-size: 32pt;
  font-weight: normal;
}

h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 16pt;
  font-weight: normal;
}

a:link {
  color: #666666;
  font-size: 10pt;
}

a:hover {
  color: #00c0ee;
  font-size: 10pt;
}

a:visited {
  color: #666666;
  font-size: 10pt;
}

#cabecalho {
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0px;
  border-bottom: solid 2px #c7c7c7;
  background-color: #ffffff;
}

#menu {
  margin: 0 auto;
  width: 1140px;
  height: 64px;
  background-color: #ffffff;
}

#logo {
  position: relative;
  top: 18px;
  left: 135px;
  float: left;
  width: 832px;
  height: 64px;
  background-image: url("../assets/logo-m3.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

#bagIcon {
  position: relative;
  top: 20px;
  left: 135px;
  float: left;
  width: 21px;
  height: 21px;
  background-image: url("../assets/bag.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

#itensNaBolsa {
  position: relative;
  top: 15px;
  left: 15px;
  font-size: 0.8em;
  font-weight: 600;
  color: #fff;
  background-color: #00c0ee;
  border-radius: 100px;
  text-align: center;
}

/** PRODUTOS */
.produto {
  width: 195px;
  height: 430px;
  margin: 14px;
  margin-bottom: 40px;
  float: left;
  animation-name: produtoKeyFrame;
  animation-duration: 2s;
}

.foto {
  width: 195px;
  height: 295px;
  float: left;
}

.nomeProduto {
  position: relative;
  top: 8px;
  float: left;
  font-size: 11pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  width: 195px;
  height: 36px;
}

.preco {
  float: left;
  font-size: 16pt;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  letter-spacing: -1px;
  width: 195px;
  height: 36px;
}

.parcelamento {
  float: left;
  font-size: 12pt;
  text-align: center;
  letter-spacing: 0px;
  width: 195px;
  height: 36px;
  font-family: "Open Sans";
}

.btnComprar {
  width: 195px;
  height: 42px;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  display: table-cell;
  cursor: pointer;
}

.btnComprar:hover {
  background-color: #00c0ee;
}

#cores {
  font-weight: 600;
}

#faixaDePreco {
  font-weight: 400;
}

#selectOrdenacao {
  width: 100%;
  text-align: right;
  margin-top: 40px;
}

#listaTamanho {
  display: inline-block;
  float: none;
  width: 100%;
}

.itemTamanho {
  position: relative;
  top: 5px;
  text-align: center;
  float: left;
  color: #c7c7c7;
  border: solid 1px #c7c7c7;
  width: 32px;
  height: 32px;
  margin: 4px;
  font-size: 12pt;
  cursor: pointer;
}

.itemTamanho :hover {
  top: 0px;
  width: 32px;
  height: 32px;
  border: solid 1px #e7f7fc;
}

.itemTamanho > div {
  position: relative;
  top: 5px;
}

.itemTamanhoSelecionado {
  position: relative;
  top: 5px;
  text-align: center;
  float: left;
  color: #000000;
  border: solid 1px #00c0ee;
  width: 32px;
  height: 32px;
  margin: 4px;

  cursor: pointer;
}

.itemTamanhoSelecionado > div {
  position: relative;
  top: 5px;
}

#divBtnCarregarMais {
  float: left;
  width: 100%;
  height: auto;
  text-align: center;
}

#btnCarregarMais {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #00c0ee;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

#rodape {
  float: left;
  width: 100%;
  height: 35px;
  background-color: #000000;
  text-align: center;
  color: #ffffff;
}

/* Criando o Checkbox */
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 11pt;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* esconde o checbox padrão */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Cria um novo Checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border: solid 1px #7f7f7f;
}

/* On mouse-over, adiciona um background cinza */
.container:hover input ~ .checkmark {
  background-color: #ccc;
  border: solid 1px #7f7f7f;
}

/* Quando o checkbox está marcado, adiciona um bg azul */
.container input:checked ~ .checkmark {
  border: solid 1px #7f7f7f;
}

/* Cria o checkmar/indicator (esconde quando não está marcado*/
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Mostra o checkmar quando selecionado */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Estiliza o checkmark/indicator */
.container .checkmark:after {
  left: 1px;
  top: 1px;
  width: 13px;
  height: 13px;
  background-color: #00c0ee;
  border-width: 1 3px 3px 0;
}

/** Cria o estilo do select */
select {
  appearance: none;
  background-color: transparent;
  padding: 5px;
  margin: 0;
  width: 155px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
}

select:hover,
select:focus,
select:active,
select:focus {
  transition: 1s;
  color: inherit;
  font-weight: bold;
}

select option :hover {
  color: red;
}

option[value=""][disabled] {
  display: none;
}

@keyframes mensagemKeyFrame {
  from {
    width: 0px;
    height: 0px;
    opacity: 0;
    font-size: 0em;
  }
  to {
    width: 250px;
    height: 250px;
    opacity: 1;
    font-size: 1.2em;
  }
}

@keyframes produtoKeyFrame {
  from {
    opacity: 0;
    position: relative;
    floar: left;
    top: -50px;
    left: 0px;
  }
  to {
    position: relative;
    top: 0px;
    left: 0px;
    floar: left;
    opacity: 1;
  }
}

#idMensagem {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: flex;
  margin: 0px auto;
  background-color: #000;
  opacity: 0.95;
}

#formaMensagem {
  width: 280px;
  height: 280px;
  display: table;
  text-align: center;
  border: solid 1px #000;
  border-radius: 1000px;
  color: #000000;
  background: #fff;
  animation-name: mensagemKeyFrame;
  animation-duration: 0.2s;
}

#idMensagemConteudo {
  width: 250px;
  text-transform: capitalize;
  vertical-align: middle;
  display: table-cell;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 20px;
}

#btnFecharMensagem {
  color: #fff;
  margin-top: 30px;
}

#btnFecharMensagem > span {
  font-size: 0.8em;
  font-weight: 900;
  padding: 5px;
  background-color: #000;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

/** ###########################*/
/** Itens escondidos no Desktop*/
/** ###########################*/
#btnMobExibirCores {
  display: none;
  visibility: hidden;
  display: none;
}
#btnMobEsconderCores{
  display: none;
  visibility: hidden;
}
#cores {
  visibility: visible;
}
/** ###########################*/
/** Desktop */
/** ###########################*/
@media (min-width: 960px) {
  #sessao {
    margin: 0 auto;
    margin-top: 65px;
    width: 1140px;
    min-height: 100vh;
  }

  #conteudo {
    height: auto;
    display: inline-block;
    margin-left: 135px;
    z-index: 0;
  }

  #sidebar {
    left: 135px;
    float: left;
    width: 195px;
    height: auto;
    z-index: 0;
  }

  #vitrine {
    float: left;
    width: 675px;
    min-height: auto;
    z-index: 0;
  }

  #filtroMobile {
    display: none;
  }
} /** EOF min-width 640px - Desktop*/

/** ###########################*/
/** Mobile */
/** ###########################*/
@media (max-width: 960px) {
  .flex {
    display: flex;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .flex-1 {
    flex: 1;
  }

  .nowrap {
    flex-wrap: nowrap;
  }

  .column-nowrap {
    flex-flow: column nowrap;
  }

  .column {
    flex-direction: column;
  }

  .row-wrap {
    flex-flow: row wrap;
  }

  .row {
    flex-direction: row;
  }

  .space-aroud {
    justify-content: space-around;
  }

  .space-between {
    justify-content: space-between;
  }

  /** Alinhamento vertical*/
  .flex-start {
    align-self: flex-start;
  }

  .flex-center{
    align-items: center;
  }
  
  .flex-end {
    align-self: flex-end;
  }

  /* Os itens não se expandem para ocupar o container. */
  .grow0 {
    flex-grow: 0;
  }
  /* Os itens se expandem igualmente para ocupar o container. Utilizando apenas o flex-grow, o crescimento é distribuído igualmente antes e depois do conteúdo de cada elemento. (pois por padrão o flex-basis é auto) */
  .grow1 {
    flex-grow: 1;
  }

  /* Os itens se expandem duas vezes mais que aqueles com flex-grow: 1; */
  .grow2 {
    flex-grow: 2;
  }

  #cabecalho {
    position: fixed;
    top: 0px;
    left: 0px;
  }

  #sessao {
    margin: 0 auto;
    width: 100vw;
    height: auto;
  }

  #conteudo {
    margin: 0 auto;
    width: 100vw;
    height: auto;
  }

  #logo {
    position: relative;
    top: 24px;
    left: 24px;
    width: 135px;
    height: 82px;

    vertical-align: middle;
  }

  #bagIcon {
    position: relative;
    top: 20px;
    left: 100px;
    float: left;
    width: 41px;
    height: 41px;
    background-image: url("../assets/bag.png");
    background-repeat: no-repeat;
  }

  #sidebar {
    position: relative;
    display: wrap;
    top: 48px;
    left: 0px;
    width: 100vw;
    height: auto;
    text-align: center;
  }

  #vitrine {
    max-width: 100vw;
    height: auto;
  }

  .produto {
    width: 10em;
    height: auto;
    margin: 0.5em;
    margin-bottom: 2em;
    float: left;
  }

  .foto {
    width: 10em;
    height: auto;
    float: left;
  }

  .foto > img {
    width: 10em;
    height: auto;
    float: left;
  }

  .nomeProduto {
    position: relative;
    top: 6px;
    float: left;
    font-size: 9pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    width: 100%;
    height: 36px;
  }

  .preco {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    letter-spacing: -1px;
    width: 100%;
    height: auto;
    color: #000;
  }

  .parcelamento {
    float: left;
    font-size: 10pt;
    text-align: center;
    letter-spacing: 0px;
    width: 100%;
    height: auto;
    font-family: "Open Sans";
  }

  .btnComprar {
    width: 195px;
    height: 42px;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    display: table-cell;
    cursor: pointer;
  }

  #listaCores {
    display: none;
    padding-left: 30px;
    padding-right: 30px;
  }

  #cores {
    padding-left: 20px;
  }

  /** Escondidos o mobile*/
  #listaTamanho {
    display: none;
  }
  #sidebar > div > h3 {
    display: none;
  }
  #faixaDePreco {
    display: none;
  }
  #faixaDePreco > div {
    display: none;
  }
  #idSelectOrdenacao {
    display: none;
  }

  #filtroMobile {
    position: relative;
    margin: 30px 0px 80px 0px;
  }

  #linkFitroMobile {
    color: #666666;
    border: solid 1px #666666;
    padding: 15px 10vw;
    cursor: pointer;
  }

  #linkOrdenarMobile {
    color: #666666;
    border: solid 1px #666666;
    border-left: none;
    padding: 15px 10vw;
    cursor: pointer;
  }

  .txtCabecalho {
    align-self: center;

    font-size: 1.1em;
    letter-spacing: 1px;
    padding-left: 30px;
    color: #666666;
    font-weight: 400;
  }

  #menuFiltroMobile {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    min-height: auto;
    z-index: 20;
    background-color: #fff;    
    border-bottom: solid 1px #666;
  }
  
  #menuFiltroMobile > div{
    border-bottom: solid 1px #c7c7c7;
  }

  #btnMobExibirCores{
    visibility: 'visible';
  }
  #btnMobExibirCores > h3{
    font-weight:900; font-size:2em;
  }

  /** Controle dos botões do Filtro Mobile */
  #btnMobExibirCores {    
    display: flex;
    visibility: visible;
  }
  #btnMobEsconderCores{
    visibility: hidden;
  }

  #cores {
    visibility: hidden;
  }

} /** EOF max-width 640px - Mobile */
